<div class="height">

    <div class="card container shadow-sm rounded flex-center" style="width: 18rem">
        <img src="assets/img/error.svg" class="card-img-top mt-3" alt="Página no encontrada" />
        <div class="card-body">
            <h2 class="card-title text-danger text-center">404</h2>
            <p class="card-text text-center">
                No se ha encontrado la URL solicitada en este servidor.
            </p>
            <a routerLink="/microservice-youtube/videos" class="btn btn-primary">Ir a sección principal</a>
        </div>
    </div>
    
</div>