<div class="card shadow-sm rounded ms-2" style="width: 18rem">
  <div class="card-body">
    <div class="list-group">
      <div class="btn inactive" routerLinkActive="btn-active">
        <a routerLink="/microservice-youtube/videos" aria-current="true">
          <img
            src="assets/img/blackVideo.svg"
            alt="Logo"
            width="20"
            height="20"
            class="d-inline-block align-text-top"
          />
          Videos
        </a>
      </div>

      <div class="btn inactive mt-2" routerLinkActive="btn-active">
        <a routerLink="/microservice-youtube/favorites/0"
          ><img
            src="assets/img/redHeart.svg"
            alt="Logo"
            width="20"
            height="20"
            class="d-inline-block align-text-top"
          />
          Favoritos</a
        >
      </div>
    </div>
  </div>
</div>
